*{
    margin: 0;
    padding: 0;
}
div.container{
    width: 50%;
    min-height: 400px;
    background-color: rgb(228, 228, 156);
    border: solid rgb(218, 21, 21) thin;
    box-shadow: 3px 3px 3px rgb(241, 9, 9);
    display: block;
    margin: 0 auto;
}
ul.list{
    list-style-type: square;
    margin-left: 2rem;
}
ul.list > li{
    font-style: italic;
    color: rgb(115, 8, 245);
}